.header {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: arial;
  color: white;
  
}

.desc {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  color: white;
 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

center a{
  text-decoration: none;
}

.subtext {
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-family: monospace;
  color: white;
}
 
.rainbow {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: arial;
  letter-spacing: 0;
  animation: colorRotate 3s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }