.header {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: arial;
  color: white;
}

.desc {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center a {
  text-decoration: none;
}

.subpages {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.subtext {
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-family: monospace;
  color: white;
}

.subtext2 {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: monospace;
  color: white;
}

.subtext3 {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  color: white;
}

.rainbow {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: arial;
  letter-spacing: 0;
  animation: colorRotate 3s linear 0s infinite;
}

body {
  background-image: url('/photos/stars3.gif');
  background-color: rgb(41, 41, 41);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 20em;
}

.center {
  text-align: center;
}

.photos img {
  width: 33%;
  /* height: 437.5px; */
  display: flex;
  flex-direction: column-reverse;
}

/* a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: white;
} */

a {
  color: #0000EE;
}
a:hover {
  text-decoration: none;
}

@keyframes colorRotate {
  from {
      color: #5BCEFA;
  }
  15% {
      color: #F5A9B8;
  }
  50% {
      color: #FFFFFF;
  }
  75% {
      color: #F5A9B8;
  }
  100% {
      color: #5BCEFA;
  }
}

.middle {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.toppadding {
  padding: 2px;
}

.photopadding {
  padding: 5px;
}